@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
a,li,button{
    text-decoration: none;
    list-style: none;
    color: beige;
    font-size: 16px;
    font-weight: 400;
}
header{
    height: 100vh;
    width: 100%;
    
    background: linear-gradient(rgba(9, 20, 65, 0.5),rgba(4,9,30,.7)),url(./eduford_img/banner2.jpg);
    background-position: center;
    background-size: cover;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.logo{
    width: 150px;
    font-size: 30px;
}
.logo span{
    color: orangered;
}

ul{}
ul li{
    display: inline-block;
    padding: 9px 20px;
}
ul li a{
}
ul li::after{
    content: '';
    width: 70%;
    height: 3px;
    color: red;
    background-color: red;
    display: block;
    margin: auto;
    transition: .5s;
    
    
}
ul li:hover::after{
    width: 100%;
}
.contact {
    margin-left: -23px;
    text-align: right;
}
.btn1{
    display: block;
    background-color: rgb(38, 82, 82);
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    
    transition: all .5s ease 0s;
}
.btn1:hover{
    background-color: rgba(38, 82, 82,0.5);
    transform: translateY(5px);
}
.btn2:hover{
    color: rgba(245, 98, 0, 0.5);
    
}
.fa-solid{
    display: none;
}
/* responsive */
@media(max-width:1050px){
    .nav_links li {
        display: inline-block;
        padding: 4px 11px;
    }
    .contact {
        margin-left: -17px;
        text-align: right;
        position: absolute;
        top: 50%;
        left: 10%;
    }
}
@media(max-width:700px){

}
@media(max-width:650px){
    ul li::after {
       
        display: none;
       
    }
    .nav_links ul li{
        display: block;
        list-style: none;
        padding: 8px 12px;
        position: relative;
    }
    .nav_links {
        position: fixed;
        background-color: #f44336;
        top: 0;
        right: -200px;
        transition: 1s;
        height: 100vh;
        width: 200px;
        text-align: left;
        z-index: 2;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}
